{% extends "Dialect/basic.html" %}
{% block title%}
<title>Translator</title>
{%endblock%}
{% block body%}
  <div class="container my-3" >
    <form action="translated/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <center>
          <h4><label for="textarea1" style="
            margin-top: 20px; color: aliceblue;">Enter text in any language you want</label></h4>
        </center>
        <textarea class="form-control" id="text1" name="text" rows="10" style="margin-top: 20px;" placeholder="Enter text you want to convert">
            </textarea>
      </div>
      <div class="form-group" style="margin-top: 40px;">
        <center>
          <h4><label for="language">Choose a Language</label></h4>
        </center>
        <select class="form-control" id="language" name="lang" style="margin-top: 20px;">
          <option value="select">Select-</option>
          {% for k, v in languages.items%}
          <option value="{{k}}">{{v}}</option>
          {% endfor%}
        </select>
      </div>
      <br>
      <center>
        <button type="Submit" class="btn btn-primary btn-lg">Translate</button>
      </center>
    </form>
  </div>


  
{%endblock%}
