{% extends "Dialect/basic.html" %}
{% block title%}
<title>Voice_Recorder</title>
{%endblock%}


{% block style%}

<style>
    #h6Elem {
        background: white;
        color: black;
        padding: 30px 7px;
    }
    .mt-3{
        color: aliceblue;
    }
</style>
{% endblock%}


{% block body%}
<form action="/translated/" method="POST" id="search-form">
    {% csrf_token %}
    <div class="container ">
        <center>
            <h4 class='mt-3'>Speech to Text</h4>
        </center>
        <center>
            <textarea class="form-control" name="text" rows="10" style="margin-top: 20px;"
                id="h6Elem" placeholder="Listening.."></textarea>
        </center>
        <center><button id="btnListen" class="btn btn-primary" type="button" style="margin-top: 20px; color: aliceblue;">Listen</button>
        </center>

        <div class="form-group" style="margin-top: 40px;">
            <center>
                <h4><label for="language" style="
                    color: aliceblue;">Choose a Language</label></h4>
            </center>
            <select class="form-control" id="language" name="lang" style="margin-top: 20px;">
                <option value="select">Select-</option>
                {% for k, v in languages.items%}
                <option value="{{k}}">{{v}}</option>
                {% endfor%}
            </select>
        </div>
        <br>
        <center>
            <button type="Submit" class="btn btn-primary btn-lg" style="
            margin-bottom: 20px;">Translate</button>
        </center>
    </div>
</form>
{%endblock%}
{% block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var searchForm = document.querySelector("#search-form");
    h6Elem = document.querySelector('#h6Elem')
    btnListen = document.querySelector('#btnListen')


    SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;

    recognition = new SpeechRecognition();

    recognition.onstart = function () {
        console.log('Yes, Now You Can start to Talk');
    }

    recognition.onresult = function (e) {
        resultReceived = e.results[0][0].transcript;
        h6Elem.textContent = resultReceived;
        setTimeout(() => {
            searchForm.doNotsubmit();
        }, 750);
    }


    btnListen.addEventListener('click', function () {
        h6Elem.placeholder = 'Speaking..'
        recognition.start();
    })
</script>

{%endblock%}